<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grocery Buddy</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app>
    <div class="container">
      <div class="page-header">
        <h1>Grocery Buddy</h1>
      </div>
      <div ng-controller="DBController">
        <div class="jumbotron">
          <form ng-submit="addItem()">
          <label name="item">Item:</label>
            <div class="input-group">
              <input class='form-control' ng-model="itemName" ng-minlength="2" type="text" name="item" required />
               <span class="input-group-btn">
               <input type="submit" value="Add to List" class="btn btn-default" ng-disabled="userForm.$invalid"/>
               </span>
          </form>
        </div>
      </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">My Grocery List</div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="item in listArray track by $index">
              {{item}}
              <button type="button" class="btn btn-default btn-xs pull-right" ng-click="deleteItem(item)">Delete</button>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>